# PyCity Schools Analysis

Analyzing the average grades, passing rates, budget, sizes and types of the fifteen high schools comprising the PyCity school district has given us the following results:

On average, schools throughout the district all show slightly higher scores in reading (81%) than in math (78%), with a passing rate of 74% in math and 81% in reading, indicating that there is a greater range in unique math scores among students. The average overall passing rate for both subjects is 65%, showing us that there is some disparity between student success rates in either subject, and that high reading scores do not necessarily equal high math scores, and vice versa. 

The PyCity school district is composed of two types of schools, district and charter. Examining the data further, it becomes clear that PyCity’s charter schools are experiencing significantly greater success in overall passing rates than the district schools, with at least 89% of all charter school students passing both math and reading. District schools, meanwhile, are looking at a 53-54% overall pass rate across all schools. 

Individual math and reading scores in district schools are also significantly lower than they are in charter schools.

Across both district and charter schools, math and reading scores remain consistent across all grades, with no significant peaks or valleys. 

Delving deeper into our financial data, we see that the majority of district schools have significantly higher budgets than do the charter schools in PyCity, though they also have uniformly larger numbers of total students. Though our district school students do ultimately receive slightly higher per capita spending than do our charter school students, this does not appear to help their overall success rates. The students in both districts who receive the least funding per capita  experience substantially higher pass rates (90 percent on average) than do the students who receive the most funding per capita, which results in a 53% pass rate. 

A more significant variable when assessing overall passing rates is the school size. Schools with student body populations of less than 1000 experience an average overall passing rate of 90\%, whereas schools with student body populations of 2000-5000 experience an average overall passing rate of 58\%. All district schools in PyCity fall into the 2000-5000 range, while only one charter school falls into this range, with the majority comprised of 2000 students or less. 

Overall, it appears that student body size has a greater bearing on student success rates than does the per capita budget. Our analysis makes clear that, when it comes to student success, money simply does not go as far as one-on-one attention.

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete = school_data_complete.rename(columns={"school_name": "School Name"})
school_data_complete

,Student ID,student_name,gender,grade,School Name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

In [3]:
#display student_data dataset for additional clarity 

student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [4]:
#display school_data dataset for additional clarity 

school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [5]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["School Name"].unique())
school_count

15

In [6]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [7]:
# Calculate the total budget
per_school_budget = school_data_complete.groupby("School Name").mean(numeric_only=True)["budget"]
total_budget = per_school_budget.sum()
total_budget

24649428.0

In [8]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)

MIN_PASSING_SCORE = 70
passing_math_series = school_data_complete["math_score"] >= MIN_PASSING_SCORE
passing_math_count = school_data_complete.loc[passing_math_series, "student_name"].count()
passing_math_percentage = 100 * passing_math_count / student_count
passing_math_percentage

74.9808526933878

In [11]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  

MIN_READING_SCORE = 70
passing_reading_series = school_data_complete["reading_score"] >= MIN_PASSING_SCORE
passing_reading_count = school_data_complete.loc[passing_reading_series, "student_name"].count()
passing_reading_percentage = 100 * passing_reading_count / student_count
passing_reading_percentage

85.80546336482001

In [12]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [13]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                                 "Total Students": student_count,
                                "Total Budget": total_budget,
                                "Average Math Score": average_math_score,
                                "Average Reading Score": average_reading_score,
                                "% Passing Math": passing_math_percentage,
                                "% Passing Reading": passing_reading_percentage,
                                "% Overall Passing": overall_passing_rate})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [14]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby("School Name").mean(numeric_only=True)["size"]

per_school_counts

School Name
Bailey High School       4976.0
Cabrera High School      1858.0
Figueroa High School     2949.0
Ford High School         2739.0
Griffin High School      1468.0
Hernandez High School    4635.0
Holden High School        427.0
Huang High School        2917.0
Johnson High School      4761.0
Pena High School          962.0
Rodriguez High School    3999.0
Shelton High School      1761.0
Thomas High School       1635.0
Wilson High School       2283.0
Wright High School       1800.0
Name: size, dtype: float64

In [15]:
# Calculate the total school budget and per capita spending per school

per_school_capita = per_school_budget/per_school_counts
per_school_capita

School Name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [16]:
# Calculate the average test scores per school
per_school_means = school_data_complete.groupby("School Name").mean(numeric_only=True)

per_school_math = per_school_means["math_score"]
print(per_school_math)

per_school_reading = per_school_means["reading_score"]
print(per_school_reading)

School Name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
School Name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
# Use the code provided to select all of the school types
per_school_types = school_data_complete.groupby("School Name").max()["type"]
per_school_types

School Name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [18]:
# Calculate the number of students per school with math scores of 70 or higher
per_school_pass_math_count = school_data_complete.loc[passing_math_series].groupby("School Name")["student_name"].count()
print(per_school_pass_math_count)

School Name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [19]:
# Calculate the number of students per school with reading scores of 70 or higher

per_school_pass_reading_count = school_data_complete.loc[passing_reading_series].groupby("School Name")["student_name"].count()
print(per_school_pass_reading_count)

School Name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [20]:
#Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    passing_reading_series & passing_math_series]

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["School Name"]).size()
school_students_passing_math_and_reading

School Name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [21]:
# Use the provided code to calculate the passing rates

per_school_pass_math_pct = 100 * per_school_pass_math_count / per_school_counts
print(per_school_pass_math_pct)

per_school_pass_reading_pct = 100 * per_school_pass_reading_count / per_school_counts
print(per_school_pass_reading_pct)

per_school_pass_overall_pct = school_students_passing_math_and_reading / per_school_counts * 100
print(per_school_pass_overall_pct)

School Name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64
School Name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64
School Name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [22]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.merge(per_school_types, per_school_budget, on="School Name", how="left")
per_school_summary["Total Students"] = per_school_counts
per_school_summary["Per Student Budget"] = per_school_capita
per_school_summary["Average Math Score"] = per_school_math
per_school_summary["Average Reading Score"] = per_school_reading
per_school_summary["# Passing Math"] = per_school_pass_math_count
per_school_summary["% Passing Math"] = per_school_pass_math_pct
per_school_summary["# Passing Reading"] = per_school_pass_reading_count
per_school_summary["% Passing Reading"] = per_school_pass_reading_pct
per_school_summary["# Overall Passing"] = school_students_passing_math_and_reading
per_school_summary["% Overall Passing"] = per_school_pass_overall_pct

per_school_summary = per_school_summary.rename(columns={"type": "School Type", "budget": "Total School Budget"})


#Display the DataFrame 
per_school_summary

,School Type,Total School Budget,Total Students,Per Student Budget,Average Math Score,Average Reading Score,# Passing Math,% Passing Math,# Passing Reading,% Passing Reading,# Overall Passing,% Overall Passing
School Name,,,,,,,,,,,,
Bailey High School,District,3124928.0,4976.0,628.0,77.048432,81.033963,3318,66.680064,4077,81.933280,2719,54.642283
Cabrera High School,Charter,1081356.0,1858.0,582.0,83.061895,83.975780,1749,94.133477,1803,97.039828,1697,91.334769
Figueroa High School,District,1884411.0,2949.0,639.0,76.711767,81.158020,1946,65.988471,2381,80.739234,1569,53.204476
Ford High School,District,1763916.0,2739.0,644.0,77.102592,80.746258,1871,68.309602,2172,79.299014,1487,54.289887
Griffin High School,Charter,917500.0,1468.0,625.0,83.351499,83.816757,1371,93.392371,1426,97.138965,1330,90.599455
Hernandez High School,District,3022020.0,4635.0,652.0,77.289752,80.934412,3094,66.752967,3748,80.862999,2481,53.527508
Holden High School,Charter,248087.0,427.0,581.0,83.803279,83.814988,395,92.505855,411,96.252927,381,89.227166
Huang High School,District,1910635.0,2917.0,655.0,76.629414,81.182722,1916,65.683922,2372,81.316421,1561,53.513884
Johnson High School,District,3094650.0,4761.0,650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,2549,53.539172
Pena High School,Charter,585858.0,962.0,609.0,83.839917,84.044699,910,94.594595,923,95.945946,871,90.540541
Rodriguez High School,District,2547363.0,3999.0,637.0,76.842711,80.744686,2654,66.366592,3208,80.220055,2119,52.988247
Shelton High School,Charter,1056600.0,1761.0,600.0,83.359455,83.725724,1653,93.867121,1688,95.854628,1583,89.892107
Thomas High School,Charter,1043130.0,1635.0,638.0,83.418349,83.848930,1525,93.272171,1591,97.308869,1487,90.948012
Wilson High School,Charter,1319574.0,2283.0,578.0,83.274201,83.989488,2143,93.867718,2204,96.539641,2068,90.582567
Wright High School,Charter,1049400.0,1800.0,583.0,83.682222,83.955000,1680,93.333333,1739,96.611111,1626,90.333333

In [23]:
# Create a more aesthetically pleasing and clearly formatted copy of the dataframe to present to clients
# (We will use the raw dataframe above to complete our analysis)

per_school_summary_fmt = per_school_summary.copy()

# Formatting
per_school_summary_fmt["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary_fmt["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_fmt["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary_fmt["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary_fmt["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
per_school_summary_fmt["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary_fmt["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

per_school_summary_fmt

,School Type,Total School Budget,Total Students,Per Student Budget,Average Math Score,Average Reading Score,# Passing Math,% Passing Math,# Passing Reading,% Passing Reading,# Overall Passing,% Overall Passing
School Name,,,,,,,,,,,,
Bailey High School,District,"$3,124,928.00",4976.0,$628.00,77.05,81.03,3318,66.68%,4077,81.93%,2719,54.64%
Cabrera High School,Charter,"$1,081,356.00",1858.0,$582.00,83.06,83.98,1749,94.13%,1803,97.04%,1697,91.33%
Figueroa High School,District,"$1,884,411.00",2949.0,$639.00,76.71,81.16,1946,65.99%,2381,80.74%,1569,53.20%
Ford High School,District,"$1,763,916.00",2739.0,$644.00,77.10,80.75,1871,68.31%,2172,79.30%,1487,54.29%
Griffin High School,Charter,"$917,500.00",1468.0,$625.00,83.35,83.82,1371,93.39%,1426,97.14%,1330,90.60%
Hernandez High School,District,"$3,022,020.00",4635.0,$652.00,77.29,80.93,3094,66.75%,3748,80.86%,2481,53.53%
Holden High School,Charter,"$248,087.00",427.0,$581.00,83.80,83.81,395,92.51%,411,96.25%,381,89.23%
Huang High School,District,"$1,910,635.00",2917.0,$655.00,76.63,81.18,1916,65.68%,2372,81.32%,1561,53.51%
Johnson High School,District,"$3,094,650.00",4761.0,$650.00,77.07,80.97,3145,66.06%,3867,81.22%,2549,53.54%
Pena High School,Charter,"$585,858.00",962.0,$609.00,83.84,84.04,910,94.59%,923,95.95%,871,90.54%
Rodriguez High School,District,"$2,547,363.00",3999.0,$637.00,76.84,80.74,2654,66.37%,3208,80.22%,2119,52.99%
Shelton High School,Charter,"$1,056,600.00",1761.0,$600.00,83.36,83.73,1653,93.87%,1688,95.85%,1583,89.89%
Thomas High School,Charter,"$1,043,130.00",1635.0,$638.00,83.42,83.85,1525,93.27%,1591,97.31%,1487,90.95%
Wilson High School,Charter,"$1,319,574.00",2283.0,$578.00,83.27,83.99,2143,93.87%,2204,96.54%,2068,90.58%
Wright High School,Charter,"$1,049,400.00",1800.0,$583.00,83.68,83.95,1680,93.33%,1739,96.61%,1626,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [24]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
top_schools.head(5)

,School Type,Total School Budget,Total Students,Per Student Budget,Average Math Score,Average Reading Score,# Passing Math,% Passing Math,# Passing Reading,% Passing Reading,# Overall Passing,% Overall Passing
School Name,,,,,,,,,,,,
Cabrera High School,Charter,1081356.0,1858.0,582.0,83.061895,83.975780,1749,94.133477,1803,97.039828,1697,91.334769
Thomas High School,Charter,1043130.0,1635.0,638.0,83.418349,83.848930,1525,93.272171,1591,97.308869,1487,90.948012
Griffin High School,Charter,917500.0,1468.0,625.0,83.351499,83.816757,1371,93.392371,1426,97.138965,1330,90.599455
Wilson High School,Charter,1319574.0,2283.0,578.0,83.274201,83.989488,2143,93.867718,2204,96.539641,2068,90.582567
Pena High School,Charter,585858.0,962.0,609.0,83.839917,84.044699,910,94.594595,923,95.945946,871,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [25]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =  per_school_summary.sort_values(["% Overall Passing"], ascending=True)
bottom_schools.head(5)

,School Type,Total School Budget,Total Students,Per Student Budget,Average Math Score,Average Reading Score,# Passing Math,% Passing Math,# Passing Reading,% Passing Reading,# Overall Passing,% Overall Passing
School Name,,,,,,,,,,,,
Rodriguez High School,District,2547363.0,3999.0,637.0,76.842711,80.744686,2654,66.366592,3208,80.220055,2119,52.988247
Figueroa High School,District,1884411.0,2949.0,639.0,76.711767,81.158020,1946,65.988471,2381,80.739234,1569,53.204476
Huang High School,District,1910635.0,2917.0,655.0,76.629414,81.182722,1916,65.683922,2372,81.316421,1561,53.513884
Hernandez High School,District,3022020.0,4635.0,652.0,77.289752,80.934412,3094,66.752967,3748,80.862999,2481,53.527508
Johnson High School,District,3094650.0,4761.0,650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,2549,53.539172

## Math Scores by Grade

In [26]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby("School Name").mean(numeric_only=True)["math_score"]
tenth_grader_math_scores = tenth_graders.groupby("School Name").mean(numeric_only=True)["math_score"]
eleventh_grader_math_scores = eleventh_graders.groupby("School Name").mean(numeric_only=True)["math_score"]
twelfth_grader_math_scores = twelfth_graders.groupby("School Name").mean(numeric_only=True)["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame ({"9th": ninth_grader_math_scores,
                                     "10th": tenth_grader_math_scores,
                                     "11th": eleventh_grader_math_scores,
                                     "12th": twelfth_grader_math_scores})


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [27]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores = ninth_graders.groupby("School Name").mean(numeric_only=True)["reading_score"]
tenth_grader_reading_scores = tenth_graders.groupby("School Name").mean(numeric_only=True)["reading_score"]
eleventh_grader_reading_scores = eleventh_graders.groupby("School Name").mean(numeric_only=True)["reading_score"]
twelfth_grader_reading_scores = twelfth_graders.groupby("School Name").mean(numeric_only=True)["reading_score"]


# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame ({"9th": ninth_grader_reading_scores,
                                     "10th": tenth_grader_reading_scores,
                                     "11th": eleventh_grader_reading_scores,
                                     "12th": twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [28]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["less than $585", "$585-630", "$630-645", "$645-680"]

In [29]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
school_spending_df

,School Type,Total School Budget,Total Students,Per Student Budget,Average Math Score,Average Reading Score,# Passing Math,% Passing Math,# Passing Reading,% Passing Reading,# Overall Passing,% Overall Passing
School Name,,,,,,,,,,,,
Bailey High School,District,3124928.0,4976.0,628.0,77.048432,81.033963,3318,66.680064,4077,81.933280,2719,54.642283
Cabrera High School,Charter,1081356.0,1858.0,582.0,83.061895,83.975780,1749,94.133477,1803,97.039828,1697,91.334769
Figueroa High School,District,1884411.0,2949.0,639.0,76.711767,81.158020,1946,65.988471,2381,80.739234,1569,53.204476
Ford High School,District,1763916.0,2739.0,644.0,77.102592,80.746258,1871,68.309602,2172,79.299014,1487,54.289887
Griffin High School,Charter,917500.0,1468.0,625.0,83.351499,83.816757,1371,93.392371,1426,97.138965,1330,90.599455
Hernandez High School,District,3022020.0,4635.0,652.0,77.289752,80.934412,3094,66.752967,3748,80.862999,2481,53.527508
Holden High School,Charter,248087.0,427.0,581.0,83.803279,83.814988,395,92.505855,411,96.252927,381,89.227166
Huang High School,District,1910635.0,2917.0,655.0,76.629414,81.182722,1916,65.683922,2372,81.316421,1561,53.513884
Johnson High School,District,3094650.0,4761.0,650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,2549,53.539172
Pena High School,Charter,585858.0,962.0,609.0,83.839917,84.044699,910,94.594595,923,95.945946,871,90.540541
Rodriguez High School,District,2547363.0,3999.0,637.0,76.842711,80.744686,2654,66.366592,3208,80.220055,2119,52.988247
Shelton High School,Charter,1056600.0,1761.0,600.0,83.359455,83.725724,1653,93.867121,1688,95.854628,1583,89.892107
Thomas High School,Charter,1043130.0,1635.0,638.0,83.418349,83.848930,1525,93.272171,1591,97.308869,1487,90.948012
Wilson High School,Charter,1319574.0,2283.0,578.0,83.274201,83.989488,2143,93.867718,2204,96.539641,2068,90.582567
Wright High School,Charter,1049400.0,1800.0,583.0,83.682222,83.955000,1680,93.333333,1739,96.611111,1626,90.333333

In [30]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], \
                                                             spending_bins, labels=labels, include_lowest=True)


school_spending_df

,School Type,Total School Budget,Total Students,Per Student Budget,Average Math Score,Average Reading Score,# Passing Math,% Passing Math,# Passing Reading,% Passing Reading,# Overall Passing,% Overall Passing,Spending Ranges (Per Student)
School Name,,,,,,,,,,,,,
Bailey High School,District,3124928.0,4976.0,628.0,77.048432,81.033963,3318,66.680064,4077,81.933280,2719,54.642283,$585-630
Cabrera High School,Charter,1081356.0,1858.0,582.0,83.061895,83.975780,1749,94.133477,1803,97.039828,1697,91.334769,less than $585
Figueroa High School,District,1884411.0,2949.0,639.0,76.711767,81.158020,1946,65.988471,2381,80.739234,1569,53.204476,$630-645
Ford High School,District,1763916.0,2739.0,644.0,77.102592,80.746258,1871,68.309602,2172,79.299014,1487,54.289887,$630-645
Griffin High School,Charter,917500.0,1468.0,625.0,83.351499,83.816757,1371,93.392371,1426,97.138965,1330,90.599455,$585-630
Hernandez High School,District,3022020.0,4635.0,652.0,77.289752,80.934412,3094,66.752967,3748,80.862999,2481,53.527508,$645-680
Holden High School,Charter,248087.0,427.0,581.0,83.803279,83.814988,395,92.505855,411,96.252927,381,89.227166,less than $585
Huang High School,District,1910635.0,2917.0,655.0,76.629414,81.182722,1916,65.683922,2372,81.316421,1561,53.513884,$645-680
Johnson High School,District,3094650.0,4761.0,650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,2549,53.539172,$645-680
Pena High School,Charter,585858.0,962.0,609.0,83.839917,84.044699,910,94.594595,923,95.945946,871,90.540541,$585-630
Rodriguez High School,District,2547363.0,3999.0,637.0,76.842711,80.744686,2654,66.366592,3208,80.220055,2119,52.988247,$630-645
Shelton High School,Charter,1056600.0,1761.0,600.0,83.359455,83.725724,1653,93.867121,1688,95.854628,1583,89.892107,$585-630
Thomas High School,Charter,1043130.0,1635.0,638.0,83.418349,83.848930,1525,93.272171,1591,97.308869,1487,90.948012,$630-645
Wilson High School,Charter,1319574.0,2283.0,578.0,83.274201,83.989488,2143,93.867718,2204,96.539641,2068,90.582567,less than $585
Wright High School,Charter,1049400.0,1800.0,583.0,83.682222,83.955000,1680,93.333333,1739,96.611111,1626,90.333333,less than $585

In [31]:
# Create a formatted copy of above dataframe to present to clients

school_spending_df_fmt = school_spending_df.copy()

# Formatting
school_spending_df_fmt["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
school_spending_df_fmt["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
school_spending_df_fmt["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
school_spending_df_fmt["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
school_spending_df_fmt["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
school_spending_df_fmt["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
school_spending_df_fmt["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

school_spending_df_fmt

,School Type,Total School Budget,Total Students,Per Student Budget,Average Math Score,Average Reading Score,# Passing Math,% Passing Math,# Passing Reading,% Passing Reading,# Overall Passing,% Overall Passing,Spending Ranges (Per Student)
School Name,,,,,,,,,,,,,
Bailey High School,District,"$3,124,928.00",4976.0,$628.00,77.05,81.03,3318,66.68%,4077,81.93%,2719,54.64%,$585-630
Cabrera High School,Charter,"$1,081,356.00",1858.0,$582.00,83.06,83.98,1749,94.13%,1803,97.04%,1697,91.33%,less than $585
Figueroa High School,District,"$1,884,411.00",2949.0,$639.00,76.71,81.16,1946,65.99%,2381,80.74%,1569,53.20%,$630-645
Ford High School,District,"$1,763,916.00",2739.0,$644.00,77.10,80.75,1871,68.31%,2172,79.30%,1487,54.29%,$630-645
Griffin High School,Charter,"$917,500.00",1468.0,$625.00,83.35,83.82,1371,93.39%,1426,97.14%,1330,90.60%,$585-630
Hernandez High School,District,"$3,022,020.00",4635.0,$652.00,77.29,80.93,3094,66.75%,3748,80.86%,2481,53.53%,$645-680
Holden High School,Charter,"$248,087.00",427.0,$581.00,83.80,83.81,395,92.51%,411,96.25%,381,89.23%,less than $585
Huang High School,District,"$1,910,635.00",2917.0,$655.00,76.63,81.18,1916,65.68%,2372,81.32%,1561,53.51%,$645-680
Johnson High School,District,"$3,094,650.00",4761.0,$650.00,77.07,80.97,3145,66.06%,3867,81.22%,2549,53.54%,$645-680
Pena High School,Charter,"$585,858.00",962.0,$609.00,83.84,84.04,910,94.59%,923,95.95%,871,90.54%,$585-630
Rodriguez High School,District,"$2,547,363.00",3999.0,$637.00,76.84,80.74,2654,66.37%,3208,80.22%,2119,52.99%,$630-645
Shelton High School,Charter,"$1,056,600.00",1761.0,$600.00,83.36,83.73,1653,93.87%,1688,95.85%,1583,89.89%,$585-630
Thomas High School,Charter,"$1,043,130.00",1635.0,$638.00,83.42,83.85,1525,93.27%,1591,97.31%,1487,90.95%,$630-645
Wilson High School,Charter,"$1,319,574.00",2283.0,$578.00,83.27,83.99,2143,93.87%,2204,96.54%,2068,90.58%,less than $585
Wright High School,Charter,"$1,049,400.00",1800.0,$583.00,83.68,83.95,1680,93.33%,1739,96.61%,1626,90.33%,less than $585

In [32]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
#print(spending_math_scores)
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
#print(spending_reading_scores)
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
#print(spending_passing_math)
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
#print(spending_passing_reading)
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()
#print(overall_passing_spending)

In [33]:
# Assemble into DataFrame
spending_summary = pd.DataFrame ({"Math Scores": spending_math_scores,
                                     "Reading Scores": spending_reading_scores,
                                     "% Passing Math": spending_passing_math,
                                     "% Passing Reading": spending_passing_reading,
                                 "% Overall Passing": overall_passing_spending })

# Display results
spending_summary

,Math Scores,Reading Scores,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
less than $585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [34]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [35]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels, include_lowest=True )

per_school_summary

,School Type,Total School Budget,Total Students,Per Student Budget,Average Math Score,Average Reading Score,# Passing Math,% Passing Math,# Passing Reading,% Passing Reading,# Overall Passing,% Overall Passing,School Size
School Name,,,,,,,,,,,,,
Bailey High School,District,3124928.0,4976.0,628.0,77.048432,81.033963,3318,66.680064,4077,81.933280,2719,54.642283,Large (2000-5000)
Cabrera High School,Charter,1081356.0,1858.0,582.0,83.061895,83.975780,1749,94.133477,1803,97.039828,1697,91.334769,Medium (1000-2000)
Figueroa High School,District,1884411.0,2949.0,639.0,76.711767,81.158020,1946,65.988471,2381,80.739234,1569,53.204476,Large (2000-5000)
Ford High School,District,1763916.0,2739.0,644.0,77.102592,80.746258,1871,68.309602,2172,79.299014,1487,54.289887,Large (2000-5000)
Griffin High School,Charter,917500.0,1468.0,625.0,83.351499,83.816757,1371,93.392371,1426,97.138965,1330,90.599455,Medium (1000-2000)
Hernandez High School,District,3022020.0,4635.0,652.0,77.289752,80.934412,3094,66.752967,3748,80.862999,2481,53.527508,Large (2000-5000)
Holden High School,Charter,248087.0,427.0,581.0,83.803279,83.814988,395,92.505855,411,96.252927,381,89.227166,Small (<1000)
Huang High School,District,1910635.0,2917.0,655.0,76.629414,81.182722,1916,65.683922,2372,81.316421,1561,53.513884,Large (2000-5000)
Johnson High School,District,3094650.0,4761.0,650.0,77.072464,80.966394,3145,66.057551,3867,81.222432,2549,53.539172,Large (2000-5000)
Pena High School,Charter,585858.0,962.0,609.0,83.839917,84.044699,910,94.594595,923,95.945946,871,90.540541,Small (<1000)
Rodriguez High School,District,2547363.0,3999.0,637.0,76.842711,80.744686,2654,66.366592,3208,80.220055,2119,52.988247,Large (2000-5000)
Shelton High School,Charter,1056600.0,1761.0,600.0,83.359455,83.725724,1653,93.867121,1688,95.854628,1583,89.892107,Medium (1000-2000)
Thomas High School,Charter,1043130.0,1635.0,638.0,83.418349,83.848930,1525,93.272171,1591,97.308869,1487,90.948012,Medium (1000-2000)
Wilson High School,Charter,1319574.0,2283.0,578.0,83.274201,83.989488,2143,93.867718,2204,96.539641,2068,90.582567,Large (2000-5000)
Wright High School,Charter,1049400.0,1800.0,583.0,83.682222,83.955000,1680,93.333333,1739,96.611111,1626,90.333333,Medium (1000-2000)

In [36]:
# Create a formatted copy of above dataframe to present to clients

school_size_df_fmt = per_school_summary.copy()

# Formatting
school_size_df_fmt["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
school_size_df_fmt["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
school_size_df_fmt["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
school_size_df_fmt["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
school_size_df_fmt["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
school_size_df_fmt["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
school_size_df_fmt["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

school_size_df_fmt

,School Type,Total School Budget,Total Students,Per Student Budget,Average Math Score,Average Reading Score,# Passing Math,% Passing Math,# Passing Reading,% Passing Reading,# Overall Passing,% Overall Passing,School Size
School Name,,,,,,,,,,,,,
Bailey High School,District,"$3,124,928.00",4976.0,$628.00,77.05,81.03,3318,66.68%,4077,81.93%,2719,54.64%,Large (2000-5000)
Cabrera High School,Charter,"$1,081,356.00",1858.0,$582.00,83.06,83.98,1749,94.13%,1803,97.04%,1697,91.33%,Medium (1000-2000)
Figueroa High School,District,"$1,884,411.00",2949.0,$639.00,76.71,81.16,1946,65.99%,2381,80.74%,1569,53.20%,Large (2000-5000)
Ford High School,District,"$1,763,916.00",2739.0,$644.00,77.10,80.75,1871,68.31%,2172,79.30%,1487,54.29%,Large (2000-5000)
Griffin High School,Charter,"$917,500.00",1468.0,$625.00,83.35,83.82,1371,93.39%,1426,97.14%,1330,90.60%,Medium (1000-2000)
Hernandez High School,District,"$3,022,020.00",4635.0,$652.00,77.29,80.93,3094,66.75%,3748,80.86%,2481,53.53%,Large (2000-5000)
Holden High School,Charter,"$248,087.00",427.0,$581.00,83.80,83.81,395,92.51%,411,96.25%,381,89.23%,Small (<1000)
Huang High School,District,"$1,910,635.00",2917.0,$655.00,76.63,81.18,1916,65.68%,2372,81.32%,1561,53.51%,Large (2000-5000)
Johnson High School,District,"$3,094,650.00",4761.0,$650.00,77.07,80.97,3145,66.06%,3867,81.22%,2549,53.54%,Large (2000-5000)
Pena High School,Charter,"$585,858.00",962.0,$609.00,83.84,84.04,910,94.59%,923,95.95%,871,90.54%,Small (<1000)
Rodriguez High School,District,"$2,547,363.00",3999.0,$637.00,76.84,80.74,2654,66.37%,3208,80.22%,2119,52.99%,Large (2000-5000)
Shelton High School,Charter,"$1,056,600.00",1761.0,$600.00,83.36,83.73,1653,93.87%,1688,95.85%,1583,89.89%,Medium (1000-2000)
Thomas High School,Charter,"$1,043,130.00",1635.0,$638.00,83.42,83.85,1525,93.27%,1591,97.31%,1487,90.95%,Medium (1000-2000)
Wilson High School,Charter,"$1,319,574.00",2283.0,$578.00,83.27,83.99,2143,93.87%,2204,96.54%,2068,90.58%,Large (2000-5000)
Wright High School,Charter,"$1,049,400.00",1800.0,$583.00,83.68,83.95,1680,93.33%,1739,96.61%,1626,90.33%,Medium (1000-2000)

In [37]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
#print(size_math_scores)
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
#print(size_reading_scores)
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
#print(size_passing_math)
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
#print(size_passing_reading)
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()
#print(size_overall_passing)

In [38]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame ({"Math Scores": size_math_scores,
                             "Reading Scores": size_reading_scores,
                             "% Passing Math": size_passing_math,
                             "% Passing Reading": size_passing_reading,
                             "% Overall Passing": size_overall_passing})

# Display results
size_summary

,Math Scores,Reading Scores,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [39]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [40]:
# Assemble the new data by type into a DataFrame called `type_summary`

type_summary = pd.DataFrame ({"Average Math Score": average_math_score_by_type,
                             "Average Reading Score": average_reading_score_by_type,
                             "% Passing Math": average_percent_passing_math_by_type,
                             "% Passing Reading": average_percent_passing_reading_by_type,
                             "% Overall Passing": average_percent_overall_passing_by_type})
# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208